@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans+Armenian:wght@191&family=Reddit+Mono:wght@200..900&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Lexend', sans-serif;
  }
  
  .heading {
    font-family: 'Noto Sans Armenian', sans-serif;
  }
  
  .code {
    font-family: 'Reddit Mono', monospace;
  }
  @layer utilities {
    /* Act as a border */
    .card-wrapper {
      @apply relative overflow-hidden rounded-2xl bg-gradient-to-b ;
    }
  
    /* Gradient */
    .card-wrapper::before {
      background: conic-gradient(
        rgba(39, 245, 243, 0.8) 0deg,
        rgb(188, 255, 253) 180deg,
        rgba(31, 92, 102,0.9) 360deg,
        transparent 80deg
      );
  
      @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
    }
  
    /* Body */
    .card-content {
      @apply absolute left-[3px] top-[3px] h-[calc(100%-6px)] w-[calc(100%-6px)] rounded-2xl bg-neutral-800;
    }
  }